<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar</title>
</head>
<body>
  <form [formGroup]="usuarioForm" (ngSubmit)="registrarUsuario()">
    <label>Nombre de usuario:</label>
    <input type="text" formControlName="nombreUsuario">
  
    <label>Contraseña:</label>
    <input type="password" formControlName="contrasena">
    <div *ngFor="let mensaje of getErrorMessages()">
      <div class="error-message">{{ mensaje }}</div>
    </div>
  
    <button type="submit" [disabled]="!usuarioForm.valid">Registrar</button>
</form>
     
</body>
</html>
