<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <title>Pasos a seguir</title>
</head>
<body>



    <nav>

        <input type="checkbox" id="toogle">
        <div class="logo">Logo</div>
        <ul class="list">
            <li><a href="/plantilla">inicio</a></li>
            <li><a href="/CrearReceta">Crear Receta</a></li>
            <li><a href="/RecetaIndividual">Mis recetas</a></li>
            <li><a href="">Explorar</a></li>
            <li><a href="">Cerrar Sesion</a></li>

        </ul>

        <label for="toogle" class="icon-bars">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </label>


    </nav>

    <label for="toogle" class="icon-bars">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </label>








    <div class="wrapper">
            <form action="">    
                <h1>¡Que delicia!</h1>
                <h3>Compartenos el secreto, se conciso y claro con la elaboración.</h3> <br/>
                <table>
                    <thead>
                      <tr>
                        <th>N° paso</th>
                        <th class="left">Paso a seguir</th>
                        <th class="thult"></th>
        
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="small-column">1</td>
                        <td class="leftext"><input class="input-border" type="text" value="Romper y revolver con sal al gusto los huevos en un plato hondo"></td>
                        <td><i class="fas fa-trash-alt borrar"></i></td>
                      </tr>
                      <tr>
                        
                        <td class="small-column">2</td>
                        <td class="leftext"><input class="input-border" type="text" value="Partir y aplastar el agucate y añadirle sal al gusto"></td>
                        <td><i class="fas fa-trash-alt borrar"></i></td>
                      </tr>
                      <tr>
                        <td class="small-column">3</td>
                        <td class="leftext"><input class="input-border" type="text" value="Calentar en un sarten aceite y añadir los huevos"></td>
                        <td><i class="fas fa-trash-alt borrar"></i></td>
                      </tr>
                      <tr>
                        <td class="small-column">4</td>
                        <td class="leftext"><input class="input-border" type="text" value="Tostar en un sarten aparte o en una tostadora los panes"></td>
                        <td><i class="fas fa-trash-alt borrar"></i></td>
                      </tr>
                      <tr>
                        <td class="small-column">5</td>
                        <td class="leftext"><input class="input-border" type="text" value="Servir en cada rebanada el agucate y los huevos"></td>
                        <td><i class="fas fa-trash-alt borrar"></i></td>
                        <td><i class="fas fa-plus agregar"></i></td>
                      </tr>
                    </tbody>
                  </table>

                  <div class="button-container">
                    <a href="/Componentes">Volver</a>  
                    <a href="/CCMI">Listo</a>
                   
                  </div>
                
    

    

