<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <!--  <link rel="stylesheet" href="../plantilla/Avances de front-end/public_html/assets/css/Componentes.css">-->
<link rel="stylesheet" href="componentes.component.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <title>Bocook</title>
</head>

<body>

  <div class="wrapper">
      <form action="">
          <h1>¡Perfecta Innovación!</h1>
          <h3>Ahora los ingredientes con su cantidad y medida, ¡y no te olvides de elegir qué tipo de componente son! También puedes agregar y eliminar.</h3>
          <div class="table-container">
              <table>
                  <thead>
                      <tr>
                         
                          <th class="leftCantidad">Cantidad</th>
                          <th class="leftMedida">Medida</th>
                          <th class="leftIngrediente">Ingrediente</th>
                          <th class="thult"></th>
                          <th class="thultmore"></th>
                      </tr>
                  </thead>

                  <tbody>
                      <tr>
                          
                          <td>
                              <input class="cantidadText" type="text" value="3">
                          </td>
                          <td class="leftext">
                              <select id="opciones" name="opciones" class="input-border">
                                  <option value="opcion1">Rebanada</option>
                                  <option value="opcion2">Rebanada</option>
                                  <option value="opcion3">Rebanada</option>
                              </select>
                          </td>
                          <td class="leftext"><input class="input-ingrediente" type="text" value="Pan"></td>
                          <td><i class="fas fa-trash-alt borrar"></i></td>
                      </tr>

                      <tr>
                         
                          <td>
                              <input class="cantidadText" type="text" value="2">
                          </td>
                          <td class="leftext">
                              <select id="opciones" name="opciones" class="input-border">
                                  <option value="opcion1">Unidad</option>
                                  <option value="opcion2">Unidad</option>
                                  <option value="opcion3">Unidad</option>
                              </select>
                          </td>
                          <td class="leftext"><input class="input-ingrediente" type="text" value="Aguacate"></td>
                          <td><i class="fas fa-trash-alt borrar"></i></td>
                      </tr>

                      <tr>
                          
                          <td>
                              <input class="cantidadText" type="text" value="2">
                          </td>
                          <td class="leftext">
                              <select id="opciones" name="opciones" class="input-border">
                                  <option value="opcion1">Unidad</option>
                                  <option value="opcion2">Unidad</option>
                                  <option value="opcion3">Unidad</option>
                              </select>
                          </td>
                          <td class="leftext"><input class="input-ingrediente" type="text" value="Huevo"></td>
                          <td><i class="fas fa-trash-alt borrar"></i></td>
                          <td><i class="fas fa-plus agregar"></i></td>
                      </tr>
                  </tbody>
              </table>
          </div>

          <div class="button-container">
              <a href="../agregar-ty-p/agregar-ty-p.component.html">Volver</a>
              <a href="../pasos/pasos.component.html">Siguiente</a>
          </div>
      </form>
  </div>

</body>

</html>
