table {
    border-collapse: separate;
    border-spacing: 5px;
    border: none;
    width: 100%;
}
th, td {
    padding: 10px;
    border: none;
    outline: none;
    text-align: center;
}
.left {
    padding: 10px;
    border: none;
    outline: none;
    text-align: left;
    background-color: #f2f2f2;
    border-bottom: 2px solid black;
}
.leftComponente{
    padding: 10px;
    border: none;
    width: 150px;
    outline: none;
    text-align: center;
    background-color: #f2f2f2;
    border-bottom: 2px solid black;
}
.leftMedida{
    padding: 10px;
    border: none;
    width: 150px;
    outline: none;
    text-align: center;
    background-color: #f2f2f2;
    border-bottom: 2px solid black;
}
.leftCantidad {
    padding: 10px;
    width: 70px;
    border: none;
    outline: none;
    text-align: center;
    background-color: #f2f2f2;
    border-bottom: 2px solid black;
}
.leftIngrediente {
    padding: 10px;
    width: 400px;
    border: none;
    outline: none;
    text-align: left;
    background-color: #f2f2f2;
    border-bottom: 2px solid black;
}
.leftext {
    padding: 10px;
    border: none;
    outline: none;
    text-align: left;
    width: 100px;
}
.input-border{
    padding: 10px;
    border: none;
    outline: none;
    text-align: center;
    width: 150px;
 
    font-family: Arial, sans-serif; /* Cambia el tipo de letra del input */
    font-size: 16px; /* Ajusta el tamaño del texto */
    padding: 5px; /* Añade un poco de espacio alrededor del texto */
    background-color: #f2f2f2;
}
.input-ingrediente{
    padding: 10px;
    border: none;
    outline: none;
    text-align: left;
    width: 400px;
 
    font-family: Arial, sans-serif; /* Cambia el tipo de letra del input */
    font-size: 16px; /* Ajusta el tamaño del texto */
    padding: 5px; /* Añade un poco de espacio alrededor del texto */
    background-color: #f2f2f2;
}
.cantidadText{
    padding: 10px;
    border: none;
    outline: none;
    text-align: center;
    width: 50px;
 
    font-family: Arial, sans-serif; /* Cambia el tipo de letra del input */
    font-size: 16px; /* Ajusta el tamaño del texto */
    padding: 5px; /* Añade un poco de espacio alrededor del texto */
    background-color: #f2f2f2;
}
.thult {
   padding: 10px;
    border: none;
    outline: none;
    text-align: center;
    background-color: white;
    border-bottom: 2px solid black;
    
}
.thultmore {
   padding: 10px;
    border: none;
    outline: none;
    text-align: left;
    background-color: white;
   
    
}

th {
    background-color: #f2f2f2;
    border-bottom: 2px solid black;
}
tbody:before {
    content: "";
    display: block;
}
.borrar {
    font-size: 20px;
    color: black;
    cursor: pointer;
}
.agregar {
    font-size: 20px;
    color: black;
    cursor: pointer;
    
}
.button-container {
display: flex;
justify-content: left; 
gap: 1px; 
}

@media only screen and (max-width: 768px) {
    .leftComponente,
    .leftMedida,
    .leftCantidad,
    .leftIngrediente,
    .input-border,
    .input-ingrediente,
    .cantidadText {
        width: 100%;
        max-width: none;
    }
}