<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <title>Document</title>
</head>
<body>


    <nav>

        <input type="checkbox" id="toogle">
        <div class="logo">Logo</div>
        <ul class="list">
            <li><a href="/plantilla">inicio</a></li>
            <li><a href="/CrearReceta">Crear Receta</a></li>
            <li><a href="/RecetaIndividual">Mis recetas</a></li>
            <li><a href="">Explorar</a></li>
            <li><a href="">Cerrar Sesion</a></li>

        </ul>

        <label for="toogle" class="icon-bars">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </label>


    </nav>

    
        <label for="toogle" class="icon-bars">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </label>



    <div class="wrapper">
        <div class="inner">
            <div class="image-holder">
                <img src="https://1.bp.blogspot.com/-ZDGlBwZXkvA/WUqkgE3NfBI/AAAAAAAAC38/mB-fzp2zB10jb90FqD-QQmR1use1-sHmgCLcBGAs/s1600/gourmet-burger.jpg" style="width: 600px; height: 400px;">
            </div>
            <form action="">
                <h3>Degustacion de hambrosia</h3><p></p>
                <h4>Explosion de sabores</h4> <br/>

                <div class="form-group">
                    <i class="fa fa-clock" aria-hidden="true"></i><input type="text" placeholder="40 a 60 min" class="from-control">

                    <i class="fa fa-question-circle" aria-hidden="true"></i><input type="text" placeholder="2 personas" class="from-control">
                </div>

                <div class="asd">
                <a href="/Editar">Volver</a>
                <a href="/EditarComponentes">Siguiente</a>
            </div>


            </form>
        </div>
    </div>
</body>
</html>


