<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar</title>
</head>
<body>
    <form [formGroup]="userForm" (ngSubmit)="registerUser()">
        <div>
          <label for="username">Nombre de usuario</label>
          <input formControlName="nombre" type="string" class="form-control" id="inputNombre" placeholder="">
                    <span *ngIf="form.get('nombre')?.hasError('required')">
                        El campo es <strong>Requerido</strong>
                    </span>
        </div>
        
        <div>
          <label for="password">Contraseña</label>
          <input formControlName="contraseña" type="string" class="form-control" id="inputContra" placeholder="">
                    <span *ngIf="form.get('contraseña')?.hasError('required')">
                        El campo es <strong>Requerido</strong>
                    </span>
        </div>

        <button type="submit" [disabled]="userForm.invalid">Registrar</button>
      </form>
      
      
    
</body>
</html>
