    <!-- Navbar -->
    <nav>

        <input type="checkbox" id="toogle">
        <div class="logo">
            <img src="../../../assets/logo_bocook.png" alt="">
        </div>
        <ul class="list">
            <li><a href="../../dashboard/dashboard/dashboard.component.html">inicio</a></li>
            <li><a href="../../crear-receta/crear-receta.component.html">Crear Receta</a></li>
            <li><a href="../../ccmi/ccmi.component.html">Mis Recetas</a></li>
            <li><a href="">Explorar</a></li>
            <li><a href="">Cerrar Sesion</a></li>

        </ul>

        </nav>

        <label for="toogle" class="icon-bars">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </label>
