<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with FoodHut landing page.">
    <meta name="author" content="Devcrud">
    <title>Bocook</title>
   
    <!-- font icons -->




    <!-- Bootstrap + FoodHut main styles -->





</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home" class="body1">
    
    <!-- Navbar -->
    <nav>

        <input type="checkbox" id="toogle">
        <div class="logo">Logo</div>
        <ul class="list">
            <li><a href="/plantilla">inicio</a></li>
            <li><a href="/CrearReceta">Crear Receta</a></li>
            <li><a href="/RecetaIndividual">Mis recetas</a></li>
            <li><a href="">Explorar</a></li>
            <li><a href="">Cerrar Sesion</a></li>

        </ul>

        <label for="toogle" class="icon-bars">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </label>


    </nav>

        <label for="toogle" class="icon-bars">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </label>


    <!-- header -->
    <div class="content">
        <h1 class="logo">Crear Tu Receta</h1>

        <div class="contact-wrapper">
            <div class="contact-form">
                <h3>Llena el formulario con la información e imagen de la deliciosa receta.</h3>
                <form>
                    <p>
                        <label>Nombre</label>
                        <input type="text" name="Nombre" id="Nombre">
                    </p>
                    <p>
                        <label>Descripción</label>
                        <textarea rows="3"></textarea>
                    </p>
                    <p>
                        <u>Agrega la imagen de tu receta, te va a aparecer detrás</u>
                        <a href="/AgregarTyP"> Siguiente </a>
                    </p>
                </form>
            </div>
        </div>

    </div>


    <!--  About Section  -->
    
    <!-- end of page footer -->

	<!-- core  -->
    <script src="assets/vendors/jquery/jquery-3.4.1.js"></script>
    <script src="assets/vendors/bootstrap/bootstrap.bundle.js"></script>

    <!-- bootstrap affix -->
    <script src="assets/vendors/bootstrap/bootstrap.affix.js"></script>

    <!-- wow.js -->
    <script src="assets/vendors/wow/wow.js"></script>
    
    <!-- google maps -->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCtme10pzgKSPeJVJrG1O3tjR6lk98o4w8&callback=initMap"></script>

    <!-- FoodHut js -->
    <script src="assets/js/foodhut.js"></script>

</body>
</html>
